.questions {
  padding-top: 130px;

  @include grid-page;

  &__title {
    grid-column: 1 / -1;
    
    margin-bottom: 27px;

    font-size: 30px;
    line-height: 40px;
    color: $main-black;

    @include on-tablet {
      grid-column: 1 / span 4;
      font-size: 36px;
      line-height: 46px;
    }

    @include on-desktop {
      grid-column: 1 / span 6;
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__container-form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 5 / span 4;
    }

    @include on-desktop {
      grid-column: 7 / span 6;
    }
  }
}
