.button {
  width: 100px;
  height: 48px;

  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  color: $white;
  letter-spacing: 0;
  text-transform: uppercase;

  cursor: pointer;

  background-color: $main-black;

  transition: all $transition;

  &:hover {
    background-color: $black;
    -webkit-box-shadow: 0 0 21px 0 rgba(46, 44, 44, 0.75);
    -moz-box-shadow: 0 0 21px 0 rgba(46, 44, 44, 0.75);
    box-shadow: 0 0 21px 0 rgba(46, 44, 44, 0.75);
  }
}
