@import './benefits/benefits';
@import './presentation/presentation';
@import './about/about';
@import './article/article';
@import './testimonials/testimonials';
@import './feature/feature';
@import './questions/questions';

.main {
  display: flex;
  flex-direction: column;
  gap: 110px;
  padding-block: 110px;

  @include padding-inline;

  @include on-tablet {
    gap: 140px;
    padding-block: 140px;
  }
  
  @include on-desktop {
    gap: 170px;
    padding-block: 62px 170px;

  }
}
