%h1 {
  margin: 0;

  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: $main-black;
  text-transform: uppercase;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include on-desktop {
    font-size: 62px;
    line-height: 78px;
  }
}

%h2 {
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 0;

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;
    vertical-align: middle;
  }
}

%h3 {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0;
  vertical-align: middle;

  @include on-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

%h4 {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  vertical-align: middle;
}

%h5 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0;
}

%main-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $main-black;
  letter-spacing: 0;
}

%secondary-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
}

%therdary-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0%;
  vertical-align: middle;
}

%button {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
}
%qoute {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 24px;
    line-height: 36px;
  }
}
