$c-gray: #F7F7F7;
$white: #fff;
$feature-bg: #D6ECEC;
$arrow: #BDBDBD;
$secondary-text: #4F4F4F;
$tertiary-text: #828282;
$descriptio-text: #7C7C7C;
$main-black: #333;
$active-link-nav: #131313;
$green-link: #0DB2B3;
$feature-green: #0C797A;
$disabled-bt: #CFEFF0;
$error: #EB5757;
$tablet-min-width: 744px;
$desktop-min-width: 1280px;
$design-min-width: 1440px;
$transition: 0.3s;
