.nav {
  &__list {
    display: flex;
    gap: 84px;
    justify-content: center;

    &--menu {
      flex-direction: column;
      gap: 25px;
    }
  }

  &__link {
    @extend %therdary-text;

    color: $main-black;
    transition: all $transition;

    &:hover {
      font-weight: 700;
      color: $active-link-nav;
    }
  }
}
