.benefits {
  width: 100%;
  height: 100%;

  &__wrapper-articles {
    display: flex;
    gap: 30px;
    
    overflow: hidden;

    width: 100%;

    @include on-tablet {
      overflow: visible;
      gap: 65px;

      @include grid-page;
    }
  }

  &__icone {
    width: 50px;
    height: 40px;
    transition: $transition;

    @include on-desktop {
      width: 70px;
      height: 50px;
    }
  }

  &__article {
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    gap: 40px;
    flex: 0 0 100%;
    align-items: center;

    scroll-snap-align: center;

    transition: $transition;

    @include on-tablet {
      grid-column: span 4;
      gap: 50px;
    }

    @include on-desktop {
      grid-column: span 3;
      gap: 30px;
    }

    &:hover .benefits__icone {
      transform: rotate(360deg);
    }
  }

  &__wrapper-title {
    width: 100%;
    height: 48px;

    @include on-desktop {
      height: 80px;
    }
  }

  &__title {
    @extend %h4;

    color: $main-black;
  }

  &__descripftion {
    height: 126px;
    text-align: center;

    @include on-tablet {
      height: 105px;
    }

    @include on-design {
      height: 126px;
    }
  }
}
